aiohttp
certifi
dotenv
faiss-cpu
groq
langchain
langchain-community
langchain-core
langchain-mistralai
langchain-text-splitters
langgraph
llama-index
llama-index-core
llama-index-embeddings-mistralai
llama-index-llms-mistralai
llama-index-utils-workflow
llama-parse
mistralai
nest-asyncio
openai
pymongo
langchain-mongodb
pypdf
python-dotenv
elasticsearch
#subprocess
